//------Font Type------
$main_font : 'lobster', serif;
$secondary_font : 'crimson-text', serif;

//------Font Colors------
$main_color_text : #ffffff;
$secondary_color_text : #6d6d6d;

//------Colors------
$main_color : #2e3a46